html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#gui{ 
  border-width: 0px 4px 24px 4px!important; 
  border-color: white!important;
  border-style: solid outset!important;
  border-radius: none!important;
}